##表单模板
<form action="$action">
#foreach($input in $inputs)
  <input type="text" id="$input.id" name="$input.id"/>
  <input type="text" id="$input.id" name="$input.start"/>
  <input type="text" id="$input.id" name="$input.end"/>
  <input type="text" id="$input.id" name="$input.time"/>
  <input type="text" id="$input.id" name="$input.price"/>
#end
</form>