## 生成table表单元素区域的
#macro(table $index $starttime $depcity $airline $flightNum $arrtime  $arrcity)

      <tr>
                 <td>
                    <font size="1" color="＃4876FF"> $index </font>
                 </td>
	             <td>
	               <center>
	               <font size="1" color="＃4876FF">$starttime</font><br/>
	               <font size="1" color="＃4876FF">$depcity
	               </center>
	             </td>
	             <td>
	               <center>
	               <font size="1" color="＃4876FF">$airline</font><br/>
	               <font size="1" color="＃4876FF">$flightNum </font>
	               </center>
	             </td>
	              <td>
	              <center>
	               <font size="1" color="＃4876FF">$arrtime </font><br/>
	               <font size="1" color="＃4876FF">$arrcity</font>
	               </center>
	             </td>
      </tr>
#end
