#macro(table $index $trainno $startstationname $endstationname $fromstationname $tostationname $starttime $arrivetime $trainclassname $daydifference $lishi $grnum $qtnum $rwnum $rznum $tznum $wznum $ywnum $yznum $zenum $zynum $swznum)

		<tr>
		    <td><font size="1" color="＃4876FF">$index</font></td>
			<td><font size="1" color="＃4876FF">$trainno</font></td>
			<td><font size="1" color="＃4876FF">$startstationname</font></td>
			<td><font size="1" color="＃4876FF">$endstationname</font></td>
			<td><font size="1" color="＃4876FF">$fromstationname</font></td>
			<td><font size="1" color="＃4876FF">$tostationname</font></td>
			<td><font size="1" color="＃4876FF">$starttime</font></td>
			<td><font size="1" color="＃4876FF">$arrivetime</font></td>
			<td><font size="1" color="＃4876FF">$trainclassname</font></td>
			<td><font size="1" color="＃4876FF">$daydifference</font></td>
			<td><font size="1" color="＃4876FF">$lishi</font></td>
			<td><font size="1" color="＃4876FF">$grnum</font></td>
			<td><font size="1" color="＃4876FF">$qtnum</font></td>
			<td><font size="1" color="＃4876FF">$rwnum</font></td>
			<td><font size="1" color="＃4876FF">$rznum</font></td>
			<td><font size="1" color="＃4876FF">$tznum</font></td>
			<td><font size="1" color="＃4876FF">$wznum</font></td>
			<td><font size="1" color="＃4876FF">$ywnum</font></td>
			<td><font size="1" color="＃4876FF">$yznum</font></td>
			<td><font size="1" color="＃4876FF">$zenum</font></td>
			<td><font size="1" color="＃4876FF">$zynum</font></td>
			<td><font size="1" color="＃4876FF">$swznum</font></td>
		</tr>
#end