#parse('resources/vm/trainmacro.vm')
## 主逻辑
<form action="$action">
<table>
#foreach($train in $trains)
  #table($train.index $train.train_no $train.from_station_name $train.to_station_name $train.start_time $train.arrive_time $train.train_class_name $train.lishi)
#end
</table>
</form>