#macro($train.index $train_no $start_station_name $end_station_name $from_station_name $to_station_name $start_time $arrive_time $train_class_name $day_difference $lishi $gr_num $qt_num $rw_num $rz_num $tz_num $wz_num $yw_num $yz_num $ze_num $zy_num $swz_num)

		<tr>
			<td><font size="1" >$index</font></td>
			<td><font size="1" >$train_no</font></td>
			<td><font size="1">$start_station_name</font></td>
			<td><font size="1">$end_station_name</font></td>
			<td><font size="1">$from_station_name</font></td>
			<td><font size="1">$to_station_name</font></td>
			<td><font size="1">$start_time</font></td>
			<td><font size="1">$arrive_time</font></td>
			<td><font size="1">$train_class_name</font></td>
			<td><font size="1">$day_difference</font></td>
			<td><font size="1">$lishi</font></td>
			<td><font size="1">$gr_num</font></td>
			<td><font size="1">$qt_num</font></td>
			<td><font size="1">$rw_num</font></td>
			<td><font size="1">$rz_num</font></td>
			<td><font size="1">$tz_num</font></td>
			<td><font size="1">$wz_num</font></td>
			<td><font size="1">$yw_num</font></td>
			<td><font size="1">$yz_num</font></td>
			<td><font size="1">$ze_num</font></td>
			<td><font size="1">$zy_num</font></td>
			<td><font size="1">$swz_num</font></td>
		</tr>
#end